html,
body {
    font-size: 16px;
    line-height: 120%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

section {
    margin: 120px 0;
    min-height: 200vh;
}

.container {
    position: relative;
    padding: 40px 20px;
    border-radius: 10px;
    z-index: 2;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #ffffff91;
}

.circles {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.circles__circle {
    position: absolute;
    display: block;
    height: auto;
    width: 30%;
    padding-bottom: 30%;
    border-radius: 50%;
    opacity: 0.7;
    transition-duration: 0.2s;
}
